[include mcu/AFC_Lite.cfg]

[mcu MCB_V3]
canbus_uuid: 70c063d40671
#serial: <replace with your /dev/serial/by-id/...> and comment out canbus_uuid above

[AFC_BoxTurtle MCB_V3]
hub: MCB_V3
extruder: extruder
enable_assist: True        # Setting to True enables espooler assist while printing
enable_kick_start: True    # Setting to True enables full speed espoolers for kick_start_time(0.070 ms default) amount
# buffer: <buffer_name> # If not defined below from the install script, uncomment and add buffer name if using a buffer

[temperature_sensor MCB_V3]
sensor_type: temperature_mcu
sensor_mcu: MCB_V3

[AFC_stepper lane1]
unit: MCB_V3:1
step_pin: MCB_V3:M1_STEP
dir_pin: MCB_V3:M1_DIR
enable_pin: !MCB_V3:M1_EN
microsteps: 16
rotation_distance: 7.905
dist_hub: 160.0 
park_dist: 10
led_index: AFC_Indicator:4
# afc_motor_rwd: MCB-V3:MOT1_RWD
# afc_motor_fwd: MCB-V3:MOT1_FWD
# afc_motor_enb: MCB-V3:MOT1_EN
# rwd_speed_multiplier: 0.5
# fwd_speed_multiplier: 0.5
# pwm: True
# hardware_pwm: True
prep: ^MCB_V3:TRG1
load: ^MCB_V3:EXT1
buffer: Turtle_1

[tmc2209 AFC_stepper lane1]
uart_pin: MCB_V3:M1_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane2]
unit: MCB_V3:2
step_pin: MCB_V3:M2_STEP
dir_pin: !MCB_V3:M2_DIR
enable_pin: !MCB_V3:M2_EN
microsteps: 16
rotation_distance: 7.905
dist_hub: 220.0 
park_dist: 10
led_index: AFC_Indicator:3
# afc_motor_rwd: MCB-V3:MOT2_RWD
# afc_motor_fwd: MCB-V3:MOT2_FWD
# afc_motor_enb: MCB-V3:MOT2_EN
# rwd_speed_multiplier: 0.5
# fwd_speed_multiplier: 0.5
# pwm: True
# hardware_pwm: True
prep: ^MCB_V3:TRG2
load: ^MCB_V3:EXT2
buffer: Turtle_1

[tmc2209 AFC_stepper lane2]
uart_pin: MCB_V3:M2_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane3]
unit: MCB_V3:3
step_pin: MCB_V3:M3_STEP
dir_pin: MCB_V3:M3_DIR
enable_pin: !MCB_V3:M3_EN
microsteps: 16
rotation_distance: 7.905
dist_hub: 325.0 
park_dist: 10
led_index: AFC_Indicator:2
# afc_motor_rwd: MCB-V3:MOT3_RWD
# afc_motor_fwd: MCB-V3:MOT3_FWD
# afc_motor_enb: MCB-V3:MOT3_EN
# rwd_speed_multiplier: 0.5
# fwd_speed_multiplier: 0.5
# pwm: True
# hardware_pwm: True
prep: ^MCB_V3:TRG3
load: ^MCB_V3:EXT3
buffer: Turtle_1

[tmc2209 AFC_stepper lane3]
uart_pin: MCB_V3:M3_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane4]
unit: MCB_V3:4
step_pin: MCB_V3:M4_STEP
dir_pin: MCB_V3:M4_DIR
enable_pin: !MCB_V3:M4_EN
microsteps: 16
rotation_distance: 7.905
dist_hub: 450.0 
park_dist: 10
led_index: AFC_Indicator:1
# afc_motor_rwd: MCB-V3:MOT4_RWD
# afc_motor_fwd: MCB-V3:MOT4_FWD
# afc_motor_enb: MCB-V3:MOT4_EN
# rwd_speed_multiplier: 0.5
# fwd_speed_multiplier: 0.5
# pwm: True
# hardware_pwm: True
prep: ^MCB_V3:TRG4
load: ^MCB_V3:EXT4
buffer: Turtle_1

[tmc2209 AFC_stepper lane4]
uart_pin: MCB_V3:M4_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_hub MCB_V3]
switch_pin: ^!MCB_V3:HUB   # Pin for the hub switch
afc_bowden_length: 1615.0   # Length of the Bowden tube from the hub to the toolhead sensor in mm.
move_dis: 50                # Distance to move the filament within the hub in mm.
#hub_clear_move_dis: 25     # Distance after hub switch becomes fast to retract to insure hub is clear
cut: False                  # Hub cutter installed (e.g. Snappy)

#--=================================================================================--#
######### Hub Cut #####################################################################
#--=================================================================================--#
assisted_retract: False     # If True, retracts are assisted to prevent loose windows on the spool
cut_cmd: AFC #CMD to use
cut_dist: 50                # How much filament to cut off (in mm).
cut_clear: 120              # How far the filament should retract back from the hub (in mm).
cut_min_length: 300.0
cut_servo_pass_angle: 10    # Servo angle to align the Bowden tube with the hole for loading the toolhead.
cut_servo_clip_angle: 180   # Servo angle for cutting the filament.
cut_servo_prep_angle: 80    # Servo angle to prepare the filament for cutting (aligning the exit hole).

[output_pin MCB-LED]
pin: MCB_V3:PC7              # 你的实际引脚
pwm: False                   # False = 纯开关模式，不支持调光
value: 1                     # 初始状态：1 = 开，0 = 关
shutdown_value: 0            # 紧急停止时关闭

# 开灯宏
[gcode_macro LED_ON]
gcode:
    SET_PIN PIN=MCB-LED VALUE=1
    M117 LED ON

# 关灯宏
[gcode_macro LED_OFF]
gcode:
    SET_PIN PIN=MCB-LED VALUE=0
    M117 LED OFF
    

# #####################################################################
# # 主动仓温控制配置
# #####################################################################
# [heater_generic MCB_Chamber]                                                 # 仓温加热器配置
# heater_pin: MCB_V3:PC6                                                           # 加热器控制引脚
# max_power: 1.0                                                              # 最大功率（0-1）
# #注：此处的温度传感器应为用于室温的温度传感器，而非PTC传感器
# sensor_type: Generic 3950                                                   # 温度传感器类型
# sensor_pin: MCB_V3:PC1                                                           # 温度传感器引脚
# control: pid                  
# # 填入一组初始的 PID 参数 (需要后续校准优化)
# pid_Kp: 100.0
# pid_Ki: 5.0
# pid_Kd: 500.0
# min_temp: -270
# max_temp: 65                    # 建议将最高温度限制在一个安全值，比如 80°C

# [heater_fan MCB_Chamber_fan]     
# pin: MCB_V3:PC8                   
# heater: MCB_Chamber                           
# fan_speed: 1.0

# ## 设置仓温宏（M141）
# [gcode_macro M141]
# gcode:
#     SET_HEATER_TEMPERATURE HEATER=MCB_Chamber TARGET={params.S|default(0)}
#     M117 MCB_Chamber set to {params.S|default(0)}°C

# ## 等待仓温达到目标值宏（M191）
# [gcode_macro M191]
# gcode:
#     {% set s = params.S|float %}
#     {% if s == 0 %}
#         SET_HEATER_TEMPERATURE HEATER=MCB_Chamber TARGET=0
#         M117 MCB_Chamber heating cancelled
#     else %}
#         SET_HEATER_TEMPERATURE HEATER=MCB_Chamber TARGET={s}  # 设定目标温度，加热器开始工作
#         M117 Heating chamber to {s}°C...
#         # 等待第一次达到目标温度 (±1°C)
#         TEMPERATURE_WAIT SENSOR="heater_generic MCB_Chamber" MINIMUM={s-1} MAXIMUM={s+1}
#         M117 MCB_Chamber at {s}°C - holding temperature
#     {% endif %}

# ## 仓温加热器验证配置
# [verify_heater MCB_Chamber]
# max_error: 30                           
# check_gain_time: 120
# hysteresis: 10                          
# heating_gain: 1




[AFC_led AFC_Indicator]
pin: MCB_V3:RGB1
chain_count: 4
color_order: GRBW

#[neopixel Extra2]
#pin: MCB_V3:RGB2
#chain_count: 6
#color_order: GRB

#[neopixel Extra3]
#pin: MCB_V3:RGB3
#chain_count: 6
#color_order: GRB

#[neopixel Extra4]
#pin: MCB_V3:RGB4
#chain_count: 4
#color_order: GRB
